*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lightgray;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1 0 400px;
    min-height: 94vh;
}

header, footer {
    text-align: center;
    font-size: 3rem;
    background-color: white;
}

#flex-container {
    display: flex;
    /* height: 90vh; */
    flex-wrap: wrap;
    gap: .5rem 1.5rem;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.flex-itens {
    background-color: white;
    color: black;
    border: 2px solid black;
    width: 20rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 14rem;
}

@media (min-width: 880px) {
    /* main {
        flex: 2 0 800px;
    } */
}