@media (max-width: 728px) {
    header {
        padding: 1rem .4rem;
    }
}

@media (max-width: 450px) {
    header {
        display: block;
    }

    /* img {
        display: block;
        text-align: center;
    } */

    #img-content {
        text-align: center;
    }
    #headerBtn {
        display: flex;
        justify-content: center;
        padding-top: 1rem;
    }

    button {
        font-size: .8rem;
    }
}

@media (max-width: 325px) {
    img {
        height: 1.8rem;
    }

    button {
        margin: 0 .3rem;
        font-size: .7rem;
    }
}