.radioButtons {
    margin: 2rem;
  }
  .radioButtons .containerRadios {
    padding: 0.3rem;
    display: flex;
    justify-content: space-between;
  }
  .radioButtons input {
    margin-left: 0.8rem;
    margin-top: 0.2rem;
  }