.radioButtons {
    margin: .5rem;
  }
  .radioButtons .containerRadios {
    padding: 0.3rem;
    display: flex;
    justify-content: space-between;
  }
  .radioButtons input {
    margin-left: 0.8rem;
    margin-top: 0.2rem;
  }

label {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}