.buttons {
    display: flex;
    padding: 0.7rem;
    justify-content: center;
  }
  .buttons button {
    border: none;
    padding: 0.2rem;
    width: 80px;
    border-radius: 1rem;
    background-color: #0A58CA;
    color: white;
    font-size: 1.15rem;
    transition: 0.5s;
    font-weight: bold;
  }
  .buttons button:hover {
    border: 1px solid #00AC47;
  }