@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto:ital@1&display=swap');

:root{
    --fundo: #fffafa;
    --data: #008080;
}

div#container{
    background-color: var(--fundo);
    margin: auto;
    max-width: 800px;
    padding: 10px;
}
p.data{
    color: var(--data);
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Montserrat', sans-serif;
}
p{
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 3px;
}
button [type="submite"]{
    
}