@charset "UTF-8";

:root{
    --amarelo: #f1c40f;
    --azul: #2c3e50;
    --vermelho: #e74c3c; 
}

body{
    background-color: var(--azul);
}

h1, ul{
    color: white;
}

p{
    color: var(--amarelo);
}

p.dia-semana{
    color: black;
    background-color: var(--amarelo);
    border: 1px solid black;
    font-size: 1.2em;
}

.astro{
    color: var(--vermelho);
}