@charset "UTF-8";

@media (max-width: 1300px) {
    #cards-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: .5rem;
    }

    div.card img {
        height: 14rem;
    }

    div#cards-extra {
        height: fit-content;
    }
}

@media (max-width: 980px) {
    #main-content {
        padding: 1rem 3rem;
    }
    #cards-grid {
        grid-template-columns: repeat(1, 1fr);
        width: 58%;
        gap: .2rem;
    }

    div.card img {
        height: 20rem;
    }
    div.card p {
        font-size: 1.4rem;
        padding-top: .5rem;
    }
    .card {
        padding-bottom: 2.5rem;
    }
    .card-title {
        font-size: 2rem;
    }
    div.extra-card img  {
        height: 15rem;
        width: 20rem;
    }
}

@media (max-width: 950px) {
    #main-content {
        display: block;
        margin: auto;
        padding: 0 0 ;
    }

    #cards-grid {
        display: block;
        margin: auto;
        width: 65%;
    }
}

@media (max-width: 655px) {
    header {
        display: block;
        text-align: center;
    }
    /* #cards-grid{
        width: 90%;
    } */
    div.card img {
        width: 100%;
        height: 80%;
    }
    #headerBtn {
        margin-top: .5rem;
    }

    #welcome {
        padding-bottom: 1.5rem;
    }
}

@media (max-width: 450px) {
    footer {
        display: block;
        text-align: center;
    }
    footer p {
        padding: 1rem;
    }
}