@import "./variables/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    background-image: linear-gradient($bg-color, $bg-color2);
}

.container {
    // height: 75vh;
    width: 300px;
    margin: 0 auto;
    background-color: white;
    margin: 1rem 0;
    border-radius: 5%;
    padding: 0 1rem;
    border: 1.5px solid $footer-color;
    color: $bg-color;
}

div.value {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
    input {
        border-radius: .5rem;
        display: block;
        font-size: 1.75rem;
        margin: 0 auto;
        text-align: end;
        width: 100%;
    }
    #copyToClipboard {
        background-color: transparent;
        border: solid $bg-color;
        border-width: 1px;
        border-radius: 0 .5rem .5rem 0;
        color: $footer-color;
        cursor: pointer;
        display: block;
        height: 2.75rem;
        width: 6rem;
      }
     
    #result {
        border-width: 1px 1px 1px 0;
        border-radius: .5rem 0rem 0rem .5rem;
    }
    
}

