*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

h1 {
    text-align: center;
    margin: 2rem 0 ;
}

#flex-container {
    display: flex;
    height: 83.2vh;
    flex-wrap: wrap;
    gap: 0 1.5rem;
    justify-content: center;
    align-items: center;
}

.flex-itens {
    background-color: white;
    color: black;
    border: 1px solid black;
    width: 10rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-basis: 10rem; */
    /* flex-grow: 1; */
}

.item1 {
    /* flex-grow: 2; */
}

.item2 {
    /* flex-shrink: 2; */
    /* flex: 1 0 10rem; */
    align-self: flex-end;
}